<!DOCTYPE html>

<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" ng-app="irbisApp">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Ирбис - Осетинские пироги</title>

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/Content/css/base.css" rel="stylesheet">
    <link href="~/Content/css/cartItem.css" rel="stylesheet">
    <link href="~/Content/css/cartOrder.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Scripts/angular-ui/angular-ui-notification.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/js")
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/mg/packages/angular-ui/mask.min.js"></script>
    <script src="~/Scripts/angular-ui/angular-ui-notification.min.js"></script>
    <script src="~/Scripts/irbisApp.js"></script>
    <script src="~/Scripts/NetworkServices.js"></script>
    <script src="~/Scripts/CartModule.js"></script>
</head>
<body>

    <header class="container-fluid header mb20">
        <nav>
            @Html.Partial("Control/MainMenu")
        </nav>
    </header>
    <section class="maiBbar text-center mb20 container-fluid text-center">
        <div class="row">
            <div class="col-sm-4">
                <ul>
                    <li><img class="svg" src="/Content/img/phone.svg" alt="+7 (966) 144-34-24" title="+7 (966) 144-34-24"><a href="tel:+79661443424" title="+7 (966) 144-34-24">+7 (966) 144-34-24</a></li>
                    <li><img class="svg" src="/Content/img/phone.svg" alt="+7 (495) 223-17-93" title="+7 (495) 223-17-93"><a href="tel:+74952231793" title="+7 (495) 223-17-93">+7 (495) 223-17-93</a></li>
                    <li><span class="btn btn-gold">ЗАКАЗАТЬ</span></li>
                    <li><img class="svg" src="/Content/img/delivery.svg" alt=""><a href="Адрес" title="Адрес">9:00-20.00</a></li>
                    <li><img class="svg" src="/Content/img/clock.svg" alt=""><a href="Адрес" title="Адрес">9:00-21.00</a></li>
                </ul>
            </div>
            <div class="col-sm-4 text-center">
                <a class="logoType" href="/"><img src="http://open-krasnodar.ru/subdomain_files/logotip/1942.jpg" alt="" /></a>
            </div>
            <div class="col-sm-4">
                <ul>
                    <li><a href="http://instagram.com/irbis.kfk" title="kfkk" target="blank"><img class="svg" src="/Content/img/instagram.svg" alt="" title="kfk"></a></li>
                    <li><img class="svg" src="/Content/img/gmail.svg" alt="kfk"><a href="mailto:irbis.kfk@gmail.com" title="irbis.kfk@gmail.com">irbis.kfk@gmail.com</a></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="container-fluid text-center">
        <nav class="nav nav-justified navbar">
            <ul>
                <li><a href="/pies">Осетинские пироги</a></li>
               <li><a href="/sweetpies">Сладкие пироги</a></li>
                <li><a href="/leanpies">Постные пироги</a></li>
    @*<li><a href="/Category?page=5">Обеды</a></li>
    <li><a href="/Category?page=6">Салаты</a></li>
    <li><a href="/Category?page=7">Напитки</a></li>*@
            </ul>
        </nav>
    </section>

    @RenderBody()


    <nav class="container-fluid text-center">
        <ul>
            <li><a class="logoType" href="/"><img src="http://open-krasnodar.ru/subdomain_files/logotip/1942.jpg" alt="" /></a></li>
            @Html.Partial("Control/MainMenu")
        </ul>
    </nav>

    <footer class="container-fluid footer">
        <div class="row">
            <div class="col-sm-4 text-center">
                <ul>
                    <li><img class="svg" src="~/Content/img/phone.svg" alt="+7 (966) 144-34-24" title="+7 (966) 144-34-24" /><a href="tel:+79661443424" title="+7 (966) 144-34-24">+7 (966) 144-34-24</a></li>
                    <li><img class="svg" src="~/Content/img/phone.svg" alt="+7 (495) 223-17-93" title="+7 (495) 223-17-93" /><a href="tel:+74952231793" title="+7 (495) 223-17-93">+7 (495) 223-17-93</a></li>

                </ul>
            </div>
            <div class="col-sm-4 text-center">
                <ul>
                    <!--<li><img class="svg" src="img/map.svg" alt=""/><a href="Адрес" title="Адрес">Адрес</a></li>-->
                    <li><img class="svg" src="~/Content/img/delivery.svg" alt="" /><a href="Адрес" title="Адрес">9:00-20.00</a></li>
                    <li><img class="svg" src="~/Content/img/clock.svg" alt="" /><a href="Адрес" title="Адрес">9:00-21.00</a></li>
                </ul>
            </div>
            <div class="col-sm-4 text-center">
                <ul>
                    <li><a href="http://instagram.com/irbis.kfk" title="kfkk" target="blank"><img class="svg" src="~/Content/img/instagram.svg" alt="" title="kfk" /></a></li>
                    <li><img class="svg" src="~/Content/img/gmail.svg" alt="kfk" /><a href="mailto:irbis.kfk@gmail.com" title="irbis.kfk@gmail.com">irbis.kfk@gmail.com</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->


    <script type="text/javascript">
        $('#menuBtn').on('click', function () {
            $(this).parent().parent().toggleClass('show');
        });
    </script>
</body>
</html>