@model Irbis.Models.Order.IndexViewModel

<section class="container-fluid cartOrder body bg-white pb10 mb20" ng-controller="cartCtr">

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>
                    Спасибо! Ваш заказ #1845 принят
                </h1>
                <h4>В ближайшее время мы свяжемся с Вами чтобы согласовать время доставки</h4>
                <div class="row" style="margin-top:5px;">
                    <div class="col-xs-12 col-sm-12 col-md-5">

                        <h3>Детали заказа</h3>
                        <div class="order_details">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Дата заказа</td>
                                        <td>@Model.CreatedAt</td>
                                    </tr>
                                    <tr>
                                        <td>Имя</td>
                                        <td>@Model.User.Name</td>
                                    </tr>
                                    <tr>
                                        <td>Телефон</td>
                                        <td>@Model.User.Phone</td>
                                    </tr>
                                    <tr>
                                        <td>Адрес доставки</td>
                                        <td>@Model.User.Address</td>
                                    </tr>
                                    <tr>
                                        <td>Дата и время доставки</td>
                                        <td>Ближайшее время</td>
                                    </tr>
                                    <tr>
                                        <td>Комментарий&nbsp;&nbsp;</td>
                                        <td>@Model.User.Comment</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-7">
                        <h3>Вы заказали:</h3>
                        <div class="cart order_cart cart_mode_checkout">
                            <table id="purchases">
                                <tbody>
                                    <tr style="display:none;">
                                        <th></th>
                                        <th>Название товара</th>
                                        <th>Кол-во</th>
                                        <th>Стоимость</th>
                                        <th>Удалить</th>
                                    </tr>
                                    @{
                                        foreach (var item in Model.Orders)
                                        {
                                            <tr>
                                                <td class="image">
                                                    <a href="products/pirog-s-kartofelem-myasom-i-gribami"><img src="http://pirogi-diana.ru/files/products/pirog.50x50.jpg" alt=""></a>
                                                </td>
                                                <td class="name">
                                                    <a href="/products/pirog-s-kartofelem-myasom-i-gribami">@item.ProductName</a>
                                                    <span>@item.Weight г.</span>
                                                </td>
                                                <td class="price">
                                                    @item.Price&nbsp;руб.
                                                </td>
                                                <td class="amount">
                                                    ×&nbsp;@item.Count&nbsp;шт
                                                </td>
                                                <td class="price">
                                                    @item.TotalPrice&nbsp;руб.
                                                </td>
                                            </tr>
                                        }
                                    }



                                    <tr class="order_amount">
                                        <td class="cart_label" colspan="4">Сумма заказа:</td>
                                        <td class="cart_sum">@Model.TotalPrice<span class="currency">&nbsp;руб.</span></td>
                                    </tr>

                                    <tr class="total">
                                        <td class="cart_label" colspan="4">Итого к оплате:</td>
                                        <td class="cart_sum">
                                            @Model.TotalPrice<span class="currency">&nbsp;руб.</span>
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>